{erl_opts, [debug_info]}.

{deps, []}.

{plugins, [rebar3_cargo]}.

{project_plugins, [erlfmt, rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {source_url, <<"https://github.com/farhadi/xxh3">>},
    {extras, [<<"README.md">>, <<"LICENSE">>]},
    {main, <<"xxh3">>}
]}.

{erlfmt, [write]}.

{cargo_opts, [{src_dir, "native/xxh3"}]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {ct, {cargo, test}}
    ]}
]}.
