{erl_opts, [debug_info]}.

{profiles, [
    {docs, [
        {edoc_opts, [
            {preprocess, true},
            {doclet, edoc_doclet_chunks},
            {layout, edoc_layout_chunks},
            {dir, "_build/default/lib/xxh3/doc"}
        ]}
    ]}
]}.

{deps, []}.

{plugins, [rebar3_cargo]}.

{project_plugins, [erlfmt]}.

{erlfmt, [write]}.

{cargo_opts, [{src_dir, "native/xxh3"}]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {ct, {cargo, test}}
    ]}
]}.
